{{/* boolean feature tags */}}
{{- $server := false -}}{{/* true if this machine should have server setup */}}
{{- "" -}}

{{- $server = promptBool "server" -}}
{{- $name := promptStringOnce . "name" "Name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
  server = {{ $server }}
  email = {{ $email | quote }}
  name = {{ $name | quote }}