[pull]
    rebase = false

[user]
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIkcgwjYMHqUDnx0JIOSXQ/TN80KEaFvvUWA2qH1AHFC
    name = Eric Cheng
    email = eric@chengeric.com

[commit]
    gpgsign = true

[gpg]
    format = ssh

{{ if eq .chezmoi.os "darwin" }}
[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ else if eq .chezmoi.os "linux" }}
[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"
{{ end }}
