#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}
set -eufo pipefail

echo ""
echo "🔧  Configuring macOS settings"
echo ""

# Check if sudo-touchid already installed
if ! [[ "$(head -n 1 '/etc/pam.d/sudo')" == *"pam_reattach.so"* ]]; then
  sudo brew services restart sudo-touchid
  sudo-touchid

  # Add pam_reattach module to use Touch ID in tmux
  backup_ext='.bak'
  touch_pam='auth       optional       \/opt\/homebrew\/lib\/pam\/pam_reattach.so'
  sudo_path='/etc/pam.d/sudo'
  nl=$'\n'

  sudo sed -E -i "$backup_ext" "1s/^(#.*)$/\1\\${nl}$touch_pam/" "$sudo_path"
fi

# Enable fzf integration with zsh
if [ ! -f "/Users/$USER/.fzf.zsh" ]; then
  yes | $(brew --prefix)/opt/fzf/install || true
fi

# Disable the sound effects on boot
sudo nvram SystemAudioVolume=" "

# Automatically quit printer app once the print jobs complete
defaults write com.apple.print.PrintingPrefs "Quit When Finished" -bool true

# Disable press-and-hold for keys in favor of key repeat
defaults write NSGlobalDomain ApplePressAndHoldEnabled -bool false

# Set the icon size of Dock items to 96 pixels
defaults write com.apple.dock tilesize -int 96

# Set a blazingly fast keyboard repeat rate
defaults write NSGlobalDomain InitialKeyRepeat -int 15
defaults write NSGlobalDomain KeyRepeat -int 2

# General / New window with Pro profile:
defaults write com.apple.Terminal "Startup Window Settings" -string Pro

# Profile: default Pro profile:
defaults write com.apple.Terminal "Default Window Settings" -string Pro

echo "✅  Done."
{{ end }}
