#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}
set -eufo pipefail

echo ""
echo "🔧  Configuring macOS settings"
echo ""

# Enable fzf integration with zsh
if [ ! -f "/Users/$USER/.fzf.zsh" ]; then
  yes | $(brew --prefix)/opt/fzf/install || true
fi

# Disable the sound effects on boot
sudo nvram SystemAudioVolume=" "

# Automatically quit printer app once the print jobs complete
defaults write com.apple.print.PrintingPrefs "Quit When Finished" -bool true

# Disable press-and-hold for keys in favor of key repeat
defaults write NSGlobalDomain ApplePressAndHoldEnabled -bool false

# Set the icon size of Dock items to 96 pixels
defaults write com.apple.dock tilesize -int 96

# Set a blazingly fast keyboard repeat rate
defaults write NSGlobalDomain InitialKeyRepeat -int 15
defaults write NSGlobalDomain KeyRepeat -int 2

# General / New window with Pro profile:
defaults write com.apple.Terminal "Startup Window Settings" -string Pro

# Profile: default Pro profile:
defaults write com.apple.Terminal "Default Window Settings" -string Pro

echo "✅  Done."
{{ end }}
