#!/bin/bash

{{ if eq .chezmoi.os "linux" }}
set -eufo pipefail

echo ""
echo "🔨 (Re)installing packages"
echo ""

yay -S --noconfirm \
  bat \
  fortune-mod \
  fzf \
  neovim \
  powerline \
  tealdeer \
  tmux \
  zsh \
  zsh-autosuggestions \
  zsh-completions \
  zsh-syntax-highlighting \
  zsh-theme-powerlevel10k-git

{{ if not .server }}
yay -S alacritty
{{ end }}

echo ""
echo "✅  Done."

{{ else if eq .chezmoi.os "darwin" }}
set -eufo pipefail

echo ""
echo "🔨 (Re)installing packages"
echo ""

brew update

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "artginzburg/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "homebrew/services"
tap "romkatv/powerlevel10k"
brew "ansible"
brew "asciiquarium"
brew "bat"
brew "btop"
brew "chezmoi"
brew "cmatrix"
brew "croc"
brew "duf"
brew "exa"
brew "fd"
brew "ffmpeg"
brew "fortune"
brew "fzf"
brew "gdu"
brew "genact"
brew "git-delta"
brew "gnupg"
brew "go"
brew "gopls"
brew "imagemagick"
brew "kopia"
brew "mas"
brew "neofetch"
brew "neovim"
brew "pam-reattach"
brew "pandoc"
brew "pinentry-mac"
brew "python@3.10"
brew "tealdeer"
brew "tmux"
brew "trash-cli"
brew "tree"
brew "wget"
brew "yt-dlp"
brew "zola"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"
brew "artginzburg/tap/sudo-touchid"
brew "romkatv/powerlevel10k/powerlevel10k"
cask "1password"
cask "alacritty"
cask "caffeine"
cask "discord"
cask "dropbox"
cask "figma"
cask "firefox"
cask "font-iosevka-ss08"
cask "google-chrome"
cask "handbrake"
cask "maccy"
cask "mpv"
cask "obsidian"
cask "omnidisksweeper"
cask "spotify"
cask "visual-studio-code"
cask "vmware-horizon-client"
mas "1Password for Safari", id: 1569813296
mas "Infuse", id: 1136220934
mas "Messenger", id: 1480068668
mas "Microsoft Excel", id: 462058435
mas "Microsoft PowerPoint", id: 462062816
mas "Microsoft Word", id: 462054704
mas "Tailscale", id: 1475387142
EOF

brew cleanup

# Install Python packages for powerline
pip3 install powerline-status
pip3 install psutil

echo ""
echo "✅  Done."
{{ end }}
