#!/bin/bash

{{ if eq .chezmoi.os "linux" }}
set -eufo pipefail

echo ""
echo "🔨 (Re)installing packages"
echo ""

yay -S --noconfirm \
  bat \
  eza \
  fd \
  fortune-mod \
  fzf \
  neovim \
  powerline \
  tealdeer \
  zellij \
  zsh \
  zsh-autosuggestions \
  zsh-completions \
  zsh-syntax-highlighting \
  zsh-theme-powerlevel10k-git

{{ if not .server }}
yay -S alacritty ttc-iosevka-ss08
{{ end }}

echo ""
echo "✅  Done."

{{ else if eq .chezmoi.os "darwin" }}
set -eufo pipefail

echo ""
echo "🔨 (Re)installing packages"
echo ""

brew update

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "artginzburg/tap"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/services"
tap "oven-sh/bun"
tap "romkatv/powerlevel10k"
tap "twilio/brew"
brew "ansible"
brew "asciiquarium"
brew "aws-nuke"
brew "bat"
brew "black"
brew "btop"
brew "chezmoi"
brew "cmatrix"
brew "coreutils"
brew "croc"
brew "detox"
brew "duf"
brew "eza"
brew "fd"
brew "ffmpeg"
brew "fortune"
brew "fzf"
brew "gallery-dl"
brew "gdu"
brew "genact"
brew "git-delta"
brew "git-lfs"
brew "gnupg"
brew "go"
brew "gopls"
brew "imagemagick"
brew "jdupes"
brew "jpegoptim"
brew "just"
brew "kopia"
brew "makepkg"
brew "mas"
brew "neofetch"
brew "neovim"
brew "node"
brew "pngquant"
brew "ocrmypdf"
brew "pam-reattach"
brew "pandoc"
brew "pinentry-mac"
brew "pipx"
brew "poppler"
brew "powerlevel10k"
brew "python@3.11"
brew "qrencode"
brew "rclone"
brew "rust"
brew "tealdeer"
brew "tmux"
brew "trash"
brew "tree"
brew "unar"
brew "virtualenv"
brew "websocat"
brew "wget"
brew "yt-dlp"
brew "zellij"
brew "zola"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"
brew "artginzburg/tap/sudo-touchid"
brew "oven-sh/bun/bun"
cask "1password"
cask "1password-cli"
cask "alacritty"
cask "audacity"
cask "betterdisplay"
cask "caffeine"
cask "camo-studio"
cask "cursor"
cask "discord"
cask "dropbox"
cask "firefox"
cask "font-ibm-plex"
cask "font-inter"
cask "font-iosevka-ss08"
cask "font-noto-sans"
cask "font-roboto-slab"
cask "google-chrome"
cask "handbrake"
cask "inkscape"
cask "mac-mouse-fix"
cask "mpv"
cask "ngrok"
cask "obsidian"
cask "rar"
cask "raycast"
cask "screen-studio"
cask "sidequest"
cask "spotify"
cask "the-unarchiver"
cask "transmission"
cask "visual-studio-code"
cask "vlc"
mas "1Password for Safari", id: 1569813296
mas "GarageBand", id: 682658836
mas "Infuse", id: 1136220934
mas "Messenger", id: 1480068668
mas "Microsoft Excel", id: 462058435
mas "Microsoft PowerPoint", id: 462062816
mas "Microsoft Word", id: 462054704
mas "OneDrive", id: 823766827
mas "Tailscale", id: 1475387142
vscode "bradlc.vscode-tailwindcss"
vscode "foxundermoon.shell-format"
vscode "github.vscode-github-actions"
vscode "golang.go"
vscode "james-yu.latex-workshop"
vscode "jdinhlife.gruvbox"
vscode "karunamurti.tera"
vscode "ms-azuretools.vscode-docker"
vscode "ms-python.isort"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "redhat.vscode-yaml"
vscode "sibiraj-s.vscode-scss-formatter"
vscode "stkb.rewrap"
vscode "tamasfe.even-better-toml"
vscode "yzhang.markdown-all-in-one"
EOF

brew cleanup

# Install Python packages for powerline
pip3 install powerline-status
pip3 install psutil

echo ""
echo "✅  Done."
{{ end }}
